<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GigHub</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GigHub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gigs" asp-action="Create">Add A Gig</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GigHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootbox.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/underscore.js/underscore.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    @*<script type="text/x-handlebars-template" id="notification-template">
            <ul class="notifications">
                <%
                _.each(notifications , function(notification){

                if(notification.type == 1){ %>
                <li>
                    <span class="highlight"><%= notification.gig.artist.name %></span>
                    has canceled gig at <%= notification.gig.venue %> at
                    <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>
                </li>

                <% }
                })
                %>
            </ul>

        </script>*@
    <script>
        $(document).ready(function () {

            function notifi(notifications) {
                var cont = ``;
                notifications.forEach(myFunction);

                function myFunction(notification) {
                    if (notification.type == 3) {
                        cont += ` <li>
                    <span class="highlight">` + notification.gig.artist.name + `</span>
                    has canceled gig at` + notification.gig.venue + ` at
                    `+ moment(notification.gig.DateTime).format('MMMM Do YYYY, h:mm:ss a');`
                </li>`

                    } else if (notification.type == 2) {
                        var changes = [];
                        var orginalValues = [];
                        var newValues = [];
                        if (notification.originalVenue != notification.gig.venue) {
                            changes.push('venue');
                            orginalValues.push(notification.originalVenue);
                            newValues.push(notification.gig.venue);
                        }
                        if (notification.originalDateTime != notification.gig.dateTime) {
                            changes.push('date/time');
                            orginalValues.push(notification.originalDateTime);
                            newValues.push(notification.gig.dateTime)
                        }
                        cont += ` <li>
                    <span class="highlight">` + notification.gig.artist.name + `</span>
                    has changed the gig ` + changes.join(' and ') + ` from
                    ` + orginalValues.join(' / ') + ` to ` + newValues.join(' / ') +` 
                </li>`
                         
                    }
                }
                return cont;
            }


            $.getJSON('/api/notification', function (notifications) {
                if (notifications.length == 0)
                    return;

                $('.js-notification-count').text(notifications.length).
                    addClass('animate__animated animate__bounceInDown');

                $('.notification').popover({
                    html: true,
                    content: function () {
                        var compiled = ` <ul class=\"notifications\">${notifi(notifications)} </ul>`;
                        debugger;
                        return compiled;
                    },
                    placement: "bottom",
                    title: "Notifications"
                });
            });

        });
    </script>
</body>
</html>
